<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo">
<!--    <parameter name="browser" value="chrome" />-->
    <test name="Merged Roles Demo Flow">
        <classes>
            <class name="LoginInternalTest">
<!--                <methods>-->
<!--                    <include name="" />-->
<!--                    <include name="" />-->
<!--                </methods>-->
            </class>
<!--            <class -->
<!--                    name="MergedRoles_DemoFlow">-->
<!--            </class>-->

        </classes>
        </test>
        </suite>