<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Demo">
<!--    <parameter name="browser" value="chrome" />-->
    <test name="Inheritance Flow Demo All in One ">
        <classes>
            <class name="MergedRoles_DemoFlow">
<!--                <methods>-->
<!--                    <include name="" />-->
<!--                    <include name="" />-->
<!--                </methods>-->
            </class>
<!--            <class -->
<!--                    name="MergedRoles_DemoFlow">-->
<!--            </class>-->

        </classes>
        </test>
        </suite>